.movie-details-dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #1d1d1f;
  border-color: #1d1d1f;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  z-index: 100;
  transition: display .5s allow-discrete, overlay .5s allow-discrete;
  animation: close .5s forwards;
  &[open] {
    animation: open .5s forwards;
  }
}
/* @media (min-width: 60rem) {
  .movie-details-dialog {
    width: min(50rem, 100%);
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */
.details {
  background-color: #1d1d1f;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details .movie-poster {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.details .details-content {
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.details .details-content .movie-title {
  line-height: 1.75rem;
  text-decoration: none;
  color: rgba(255, 255, 255, .87);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.details .details-content .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details .details-content .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.details .details-content .movie-vote-average::before {
  content: "â­";
  margin-right: 0.25rem;
}
.details .details-content .movie-vote-average.green {
  background-color: rgba(76, 175, 80, .85);
}
.details .details-content .movie-vote-average.orange {
  background-color: rgba(255, 152, 0, .85);
}
.details .details-content .movie-vote-average.red {
  background-color: rgba(244, 67, 54, .85);
}

.details .details-content .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.details .details-content .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .75rem;
  font-weight: 500;
}


.details .details-content .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(.8);
  }
}
