:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
}

ul.results {
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  border-radius: .5rem;
  background-color: #1d1d1f;
  overflow: hidden;
  padding-bottom: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.card .movie-poster {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
}

.card .card-content {
  padding: .5rem 1rem;
}

.card .card-content .movie-title {
  line-height: 1.75rem;
}

.card .card-content .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .card-content .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.card .card-content .movie-vote-average::before {
  content: 'â­';
  margin-right: 0.25rem;
}
.card .card-content .movie-vote-average.green {
  background-color: rgba(76, 175, 80, .85);
}
.card .card-content .movie-vote-average.orange {
  background-color: rgba(255, 152, 0, .85);
}
.card .card-content .movie-vote-average.red {
  background-color: rgba(244, 67, 54, .85);
}

.card .card-content .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.card .card-content .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .75rem;
  font-weight: 500;
}


.card .card-content .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}
