:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.header h1 {
  font-size: 3.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
  margin-right: 2rem;
}
@media (max-width: 64rem) {
  .header h1 {
    font-size: 2.5rem;
  }
}

.header input.search {
  box-sizing: border-box;
  min-width: 10rem;
  width: 22rem;
  height: 3rem;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #1d1d1f;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.25rem;
}
.header input.search::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.header input.search:focus {
  border: none;
  outline: none;
}

.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.content h2.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
@media (max-width: 64rem) {
  .content h2.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    top: 6rem;
  }
}

ul.results {
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  border-radius: .5rem;
  background-color: #1d1d1f;
  overflow: hidden;
  padding-bottom: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.card .movie-poster {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
}

.card .card-content {
  padding: .5rem 1rem;
}

.card .card-content .movie-title {
  line-height: 1.75rem;
}

.card .card-content .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .card-content .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.card .card-content .movie-vote-average::before {
  content: 'â­';
  margin-right: 0.25rem;
}
.card .card-content .movie-vote-average.green {
  background-color: rgba(76, 175, 80, .85);
}
.card .card-content .movie-vote-average.orange {
  background-color: rgba(255, 152, 0, .85);
}
.card .card-content .movie-vote-average.red {
  background-color: rgba(244, 67, 54, .85);
}

.card .card-content .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.card .card-content .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .75rem;
  font-weight: 500;
}


.card .card-content .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}
