.card {
  max-width: 25rem;
  border-radius: .5rem;
  background-color: #1d1d1f;
  overflow: hidden;
  padding-bottom: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.card .movie-poster {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
}

.card .card-content {
  padding: .5rem 1rem;
}

.card .card-content .movie-title {
  line-height: 1.75rem;
  text-decoration: none;
  color: rgba(255, 255, 255, .87);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.card .card-content .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .card-content .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.card .card-content .movie-vote-average::before {
  content: 'â­';
  margin-right: 0.25rem;
}
.card .card-content .movie-vote-average.green {
  background-color: rgba(76, 175, 80, .85);
}
.card .card-content .movie-vote-average.orange {
  background-color: rgba(255, 152, 0, .85);
}
.card .card-content .movie-vote-average.red {
  background-color: rgba(244, 67, 54, .85);
}

.card .card-content .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.card .card-content .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .75rem;
  font-weight: 500;
}


.card .card-content .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}
